{{=<% %>=}}
<a class="sc-download-js disable-hover button button-md button-default button-default-md button-block button-block-md" ng-reflect-block="" href="data:application/pdf;base64,<% file_base64 %>" download filename="certificate.pdf">
    <span class="button-inner">
        Download
    </span>
    <div class="button-effect"></div>
</a>


